@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Noto+Serif:ital,wght@0,700;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Colors
$poppy-red: #FF4908;
$poppy-30: rgba(255,73,8,.3);
$background: #FFFAF2;
$text: #434343;

// Fonts
$monospace: 'Inconsolata', monospace;
$expanded: 'Inconsolata Expanded', monospace;
$serif: 'Noto Serif', serif;
$sans: 'Source Sans Pro', sans-serif;

// Typography styles
.sans-serif-header {
  font-family: $sans;
  font-weight: normal;
  font-size: 29px;
  line-height: 140%;
  color: $text;

  @media screen and (max-width: 850px) {
    font-size: 1.5em;
  }
}

.body {
  font-family: $sans;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: $text;

  @media screen and (max-width: 850px) {
    font-size: 1em;
  }
}

.serif-header {
  font-family: $serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 140%;
  color: $text;

  @media screen and (max-width: 850px) {
    font-size: 1.8em;
  }
}

.serif-header-2 {
  font-family: $serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: $text;

  @media screen and (max-width: 850px) {
    font-size: 1.4em;
  }
}

.monospace-header {
  font-family: $monospace;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  color: $text;

  @media screen and (max-width: 850px) {
    font-size: 1.4em;
  }
}

.sans-serif-caps {
  font-family: $sans;
  font-weight: normal;
  font-size: 29px;
  line-height: 36px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  font-style: normal;
  text-align: center;
  color: $text;

  @media screen and (max-width: 850px) {
    font-size: 1.5em;
  }
}

.sans-serif-label {
  font-family: $sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-transform: lowercase;
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
  color: $text;
}

@font-face {
  font-family: 'Inconsolata Expanded';
  src: url(../fonts/Inconsolata-ExpandedExtraBold.ttf);
}

$lh: 1.4; // line height

$base: 16px;
$header: $base*1.5;
$mono-header: $base*4/3;

// Responsive Scaling
$device-scaling: 1.25;
$breakpoint: 850px;
