@use 'variables' as *;
@use 'mixins' as *;

.all-header {
  @extend .serif-header;
}

.all-datestring {
  @extend .sans-serif-caps;
}

.all-articlebox {
  display: flex;
  flex-direction: row;
  padding: 0px;
  height: 96px;

  position: static;
  overflow: hidden;
  text-overflow: ellipsis;

  img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    margin-right: 32px;
  }
}

.all-articlebox-title {
  @extend .serif-header-2;
  margin-bottom: 4px;
}

.all-articlebox-excerpt {
  @extend .body;
  text-overflow: ellipsis;
}
