@use 'variables' as *;
@use 'mixins' as *;

#issue-title {
  @extend .serif-header;
  text-align: center;
}

#issue-subtitle {
  @extend .sans-serif-caps;
  text-align: center;
  margin: 0;
}

#description {
  @extend .body;
  text-align: center;
  padding: 24px 0 48px;
}

.issue-article-tile {
  margin-bottom: 72px;
}

#article-title {
  @extend .serif-header-2;
  margin-bottom: 0px;
}

#article-description {
  @extend .body;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 0;
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
}

.article-tags {
  margin: 8px 0px;
}

#tag {
  @extend .sans-serif-label;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: $text;
  border-radius: 20px;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  vertical-align: middle;
  align-self: flex-start;
}

.footer-links {
  @extend .sans-serif-caps;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#issue-image {
  width: 600px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

#article-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.columns {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: $base/2;

  @media screen and (min-width: $breakpoint) {
    flex-flow: row nowrap;
  }
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-a {
  width: 200px;
  height:200px;
  margin-bottom: 0;

  @media screen and (min-width: $breakpoint) {
    width: 200px;
    height: 200px;
  }
}

.col-b {
  width: 100%;
  margin-bottom: 0;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint) {
    width: 400px;
    height: 200px;
    overflow: hidden;
  }
}

p a {
  text-decoration: underline;
}
