@use 'variables' as *;

#title {
  font: 700 48px/1 $serif;

  span {
    display: block;
    font: 700 96px/1 $expanded;
  }

  @media screen and (max-width: 850px) {
    font: 700 36px/1 $serif;

    span {
      display: block;
      font: 700 72px/1 $expanded;
    }
  }
}

#subtitle {
  font: 36px $sans;
}

.columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 8px;

  @media screen and (max-width: 850px) {
    flex-flow: column nowrap;
  }
}

.col {
  width: 276px;
  margin-bottom: 0;

  @media screen and (max-width: 850px) {
    width: 100%;
  }
}

p a {
  text-decoration: underline;
}

form {
  margin-bottom: 32px;

  input[type=text] {
    background-color: $background;
    border: 2px solid $text;
    color: $text;
    height: 55px;
    width: 408px;
    padding: 12px;

    &:focus {
      outline: 0;
    }

    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }

  input[type=submit] {
    display: block;
    background-color: $text;
    border: 0;
    border-radius: 12px;
    color: $background;
    font: 700 24px/1 $sans;
    text-transform: uppercase;
    margin-top: 16px;
    padding: 16px 48px;
    box-shadow: none;

    &:hover {
      cursor: pointer;
    }
  }
}

#graphics {
  svg {
    position: absolute;
    z-index: -1;

    @media screen and (max-width: 850px) {
      transform: scale(.7);
    }
  }
}

#parent {
  position: absolute;
}

#dots1 {
  left: -270px;
  top: -204px;

  @media screen and (max-width: 850px) {
    left: -140px;
    top: -196px;
  }
}

#squiggles1 {
  left: -300px;
  top: -115px;

  @media screen and (max-width: 850px) {
    left: -110px;
    top: -148px;
  }
}

#dots2 {
  right: 117px;
  top: 128px;

  @media screen and (max-width: 850px) {
    right: 52.4px;
    top: 68px;
  }
}

#dots3 {
  left: -142px;
  top: 112px;

  @media screen and (max-width: 850px) {
    left: -100px;
    top: 500px;
  }
}

#squiggles2 {
  left: -300px;
  top: 224px;

  @media screen and (max-width: 850px) {
    left: -110px;
    top: 105px;
  }
}

#squiggles3 {
  right: 83px;
  top: 800px;

  @media screen and (max-width: 850px) {
    right: 20px;
    top: 1275px;
  }
}

#dots4 {
  right: 220px;
  top: 1400px;

  @media screen and (max-width: 850px) {
    right: 100px;
    top: 1720px;
  }
}

#dots5 {
  right: 90px;
  top: 1400px;

  @media screen and (max-width: 850px) {
    right: 25px;
    top: 1754px;
  }
}

#squiggles4 {
  right: 83px;
  top: 1610px;

  @media screen and (max-width: 850px) {
    right: 0px;
    top: 1870px;
  }
}
