@use 'variables' as *;
@use 'mixins' as *;

.post-title {
  @extend .serif-header;
  text-align: center;
}

.post-subtitle {
  @extend .serif-header-2;
  text-align: center;
}

.post-byline {
  @extend .sans-serif-caps;
  text-align: center;
}

.post-category {
  text-decoration: underline;
}

.post-body {
  @extend .body;
}

.post-designer {
  @extend .body;
  margin: 0px 0px 1.45rem 0px;
  text-transform: uppercase;
}

.post-img {
  margin: 0px;
}

.post-excerpt {
  @extend .body;
  font-style: italic;
  text-align: center;
}

.post-divider {
  text-align: center;
}

.post-divider-svg {
  max-width: 100%;
}
