@use 'variables' as *;
@use 'mixins' as *;

.post-title {
  @extend .serif-header;
  text-align: center;
  margin-bottom: 24px;
}

.post-subtitle {
  @extend .serif-header-2;
  text-align: center;
  margin-bottom: 24px;
}

.post-byline {
  @extend .sans-serif-caps;
  padding-bottom: 0px;
  margin-bottom: 24px;
  text-align: center;
  line-height: 1em;
}

.post-byline-outer {
  margin-bottom: 32px;
}

.featured-img {
  margin: 0 auto;
  width: 100%;
  display: block;
}

.post-category {
  text-decoration: underline;
}

.post-body {
  @extend .body;
  margin-top: 60px;

  & p {
    margin-bottom: 1.4em;
  }
}

.post-designer {
  @extend .sans-serif-label;
  margin: 0px 0px 32px 0px;
  text-align: right;
}

.post-tag-container {
  display: flex;
  padding-top: 8px;
  justify-content: center;
}

.post-tag {
  @extend .sans-serif-label;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: $text;
  border-radius: 20px;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 0.2em;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  margin-top: -2px;
  min-width: 48px;
  vertical-align: middle;
  align-self: flex-start;
}

.post-img {
  margin: 0px;
}

.post-excerpt {
  @extend .body;
  font-style: italic;
  text-align: center;
  margin-bottom: 60px;
}
