.post-title {
  /* serif header */

  font-family: Noto Serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-align: center;

  /* Black */

  color: #434343;
}

.post-subtitle {
  /* serif header */

  font-family: Noto Serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 49px;
  text-align: center;

  /* Black */

  color: #434343;
}

.post-byline {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 36px;
  text-align: center;
  font-variant: small-caps;

  /* Black */

  color: #434343;
}

.post-category {
  text-decoration: underline;
}

.post-body {
  /* body */

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  /* Black */

  color: #434343;
}

.post-excerpt {
  font-family: Source Sans Pro;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */
  align-items: center;
  text-align: center;
}

.post-divider {
  text-align: center;
}

.post-divider-svg {
  max-width: 100%;
}

figcaption {
  color: #6d6d6d;
  font-size: 16px;
}
