@use 'variables' as *;

.submitform-body {
  @extend .monospace-header;
  font-weight: bold;
  font-size: 28px;
  margin-top: 36px;
  text-align: center;

  /* Black */

  & > div {
    margin-bottom: 32px;
  }
}

.submitform-button {
  margin: 0 auto;
  margin-top: 36px;
}

.footer-links {
  @extend .sans-serif-caps;
  padding-bottom: 0px;
  margin-bottom: 30px;
  text-align: center;
}
