@use 'variables' as *;

.submitform-body {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
  /* or 45px */
  margin-top: 0px;
  text-align: center;

  /* Black */

  color: #434343;
}

.submitform-button {
  margin: 0 auto;
  margin-top: 36px;
}

.footer-links {
  @extend .sans-serif-caps;
  padding-bottom: 0px;
  margin-bottom: 30px;
  text-align: center;
}
